:root {
    --color-background: #282a36;
    --color-background-darker: #141925;
    --color-foreground: #97979b;

    --color-accent: #ff6ac1;
    --color-white: #f1f1f0;

    --color-blue: #50b5e7;
    --color-light-blue: #57c7ff;
    --color-bg-blue: rgba(80, 181, 231, 0.1);
    --color-bg-light-blue: rgba(80, 181, 231, 0.5);

    --color-green: #5af78e;
    --color-light-green: #5af78e;
    --color-bg-green: rgba(90, 247, 142, 0.1);
    --color-bg-light-green: rgba(90, 247, 142, 0.5);

    --color-red: #d4514c;
    --color-light-red: #ff5c57;
    --color-bg-red: rgba(212, 81, 76, 0.1);
    --color-bg-light-red: rgba(212, 81, 76, 0.5);

    --color-yellow: #f3f99d;
    --color-light-yellow: #f3f99d;
    --color-bg-yellow: rgba(243, 249, 157, 0.1);
    --color-bg-light-yellow: rgba(243, 249, 157, 0.5);

    --color-purple: #d35fa3;
    --color-light-purple: #ff6ac1;
    --color-bg-purple: rgba(255, 106, 193, 0.1);
    --color-bg-light-purple: rgba(255, 106, 193, 0.5);

    --color-white: #f1f1f0;

    /* set the color for text inside of link hints (letters/numbers) */
    --color-bg-link-hint: var(--color-background-darker);
    --color-link-hint: var(--color-foreground);
    --color-link-hint-focus: var(--color-background);
    --color-special-link: var(--color-background);

    /* blue column */
    --color-bg-blue-col: var(--color-bg-blue);
    --color-bg-blue-link-hint: var(--color-bg-light-blue);
    --color-bg-blue-special-link: var(--color-light-blue);

    /* green column */
    --color-bg-green-col: var(--color-bg-green);
    --color-bg-green-link-hint: var(--color-bg-light-green);
    --color-bg-green-special-link: var(--color-light-green);

    /* red column */
    --color-bg-red-col: var(--color-bg-red);
    --color-bg-red-link-hint: var(--color-bg-light-red);
    --color-bg-red-special-link: var(--color-light-red);

    /* purple column */
    --color-bg-purple-col: var(--color-bg-purple);
    --color-bg-purple-link-hint: var(--color-bg-light-purple);
    --color-bg-purple-special-link: var(--color-light-purple);

    /* yellow column */
    --color-bg-yellow-col: var(--color-bg-yellow);
    --color-bg-yellow-link-hint: var(--color-bg-light-yellow);
    --color-bg-yellow-special-link: var(--color-light-yellow);

    /* scratchpad and other utilites */
    --color-bg-scratchpad: var(--color-background-darker);
    --color-bg-input: var(--color-background-darker);
}
